---

---

<section class="py-20 bg-white dark:bg-slate-900 overflow-hidden">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid lg:grid-cols-2 gap-16 items-center">
            <div>
                <span
                    class="text-slate-400 font-bold tracking-widest text-sm uppercase"
                    >Ketersediaan Kamar</span
                >
                <h2 class="text-5xl font-extrabold text-primary mt-4 mb-8">
                    Ruang Cempaka
                </h2>
                <div class="flex flex-wrap gap-2 mb-10">
                    <span
                        class="bg-primary/10 text-primary px-4 py-2 rounded-full text-xs font-bold"
                        >Kamar Mandi</span
                    >
                    <span
                        class="bg-primary/10 text-primary px-4 py-2 rounded-full text-xs font-bold"
                        >Televisi</span
                    >
                    <span
                        class="bg-primary/10 text-primary px-4 py-2 rounded-full text-xs font-bold"
                        >Set Sofa</span
                    >
                    <span
                        class="bg-primary/10 text-primary px-4 py-2 rounded-full text-xs font-bold"
                        >Room Alarm</span
                    >
                    <span
                        class="bg-primary/10 text-primary px-4 py-2 rounded-full text-xs font-bold"
                        >Air Conditioner</span
                    >
                    <span
                        class="bg-primary/10 text-primary px-4 py-2 rounded-full text-xs font-bold"
                        >Toilet</span
                    >
                </div>
            </div>
            <div class="relative">
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6 relative h-[400px]">
                        <img
                            alt="Hospital Room"
                            class="rounded-2xl h-full w-full object-cover shadow-2xl"
                            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCC1KUdrr8n3U5L7Y2Wje2AUjLI7VSwsQSARdfBZOzMdhc6O0n30fzfc0iLbibHag57HPXmgnzay2Y7B8CEMLOQ25LlcOcgrgkASqXOd-uL6kxqYQls4sTjn8UcFsYnSt4ljwxXjnILNPI6IXsjrj9akek86wToyyKnLoD5PalVI2Hn2wVyAE0oVBdU4L19kNzgMa8yhMa86tA_IlahGr1jbs61BcvGhGrqvO07YJKaJQFPcsPNZRyHiJpSmw9jrwYZZ-F_jWK0ApE"
                        />
                        <div class="absolute bottom-4 left-4">
                            <span
                                class="bg-primary text-white px-4 py-2 rounded-lg flex items-center space-x-2 text-xs font-bold"
                            >
                                <span class="material-icons-outlined text-sm"
                                    >stars</span
                                >
                                <span>VIP Room</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-span-3 h-[400px] mt-8">
                        <img
                            alt="Hospital interior"
                            class="rounded-2xl h-full w-full object-cover"
                            src="https://lh3.googleusercontent.com/aida-public/AB6AXuASsw7vdsCs7wDAKCNjOiPS33FOXsNMnffoxbegORXqQ4oXG9PPfyBBq89POFmGvZdMMZpXvzP1bVnsqmoLkywAPltbfPNt38lThBXi35zKEh5B-Ip8JiMs4GvvkyAtoo7zbMw-3zuOajTf8tZnm9cwD1DOOFgmCWFpxyKdM9m14a8TRyj7HBw0hkSI0-hj7tcWgHzmS8ZvQaNOzslrIBm_Md3isMvgvHSFJL6fTUCAbZh8ASlB4hnVbFkFaQxDOJswG-cnisE_Q8Q"
                        />
                    </div>
                    <div class="col-span-3 h-[400px] mt-16 relative">
                        <img
                            alt="Medical facility"
                            class="rounded-2xl h-full w-full object-cover"
                            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBeI2yNA_EdmwyZ_axwnNB0JaEGMzJQDYTgMiKHQoTOxTviV6uohVi2Mwdx26VVTzth0-vuVI40EDs1g0L9j5iBhsMfXdlGJ6JP3QTa8HaQStq4FYZIx-_BiM6L18mxVG2b8L1bueHmRWztCZ3-0Bh09NAJB-Y0aIs8Hipd9qg6pgjOmwU4mdrywZqB4ZVAodUOilpXMKA0U0JnA3b4exTv_O1LB1OmsHEd5KW2vRnm0oGsw2IcxJleYXKEiQdhyBFIop8ieuOoVgs"
                        />
                        <div
                            class="absolute top-4 left-4 bg-white dark:bg-slate-800 p-3 rounded-xl shadow-lg text-center border border-slate-100 dark:border-slate-700"
                        >
                            <p class="text-[10px] text-slate-400 font-bold">
                                Kapasitas
                            </p>
                            <p class="text-2xl font-black text-primary">4</p>
                            <p
                                class="text-[10px] text-slate-400 font-bold uppercase tracking-widest"
                            >
                                Set
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
