---

---

<section
    class="py-12 border-t border-slate-200 dark:border-slate-800 bg-white dark:bg-slate-900"
>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid lg:grid-cols-4 gap-8">
            <div class="flex items-center space-x-3">
                <button
                    class="w-8 h-8 rounded-full bg-primary text-white flex items-center justify-center"
                    ><i class="text-sm not-italic font-bold">f</i></button
                >
                <button
                    class="w-8 h-8 rounded-full bg-primary text-white flex items-center justify-center"
                    ><i class="text-sm not-italic font-bold">ğ•</i></button
                >
                <button
                    class="w-8 h-8 rounded-full bg-primary text-white flex items-center justify-center"
                    ><i class="text-sm not-italic font-bold">ig</i></button
                >
                <button
                    class="w-8 h-8 rounded-full bg-primary text-white flex items-center justify-center"
                    ><i class="text-sm not-italic font-bold">yt</i></button
                >
            </div>
            <div class="flex items-center space-x-3">
                <span class="material-icons-outlined text-primary"
                    >phone_iphone</span
                >
                <div class="text-[10px]">
                    <p class="text-slate-400 font-bold uppercase">
                        Hubungi Darurat
                    </p>
                    <p class="text-primary font-bold">081532744804</p>
                </div>
            </div>
            <div class="flex items-center space-x-3">
                <span class="material-icons-outlined text-primary"
                    >headset_mic</span
                >
                <div class="text-[10px]">
                    <p class="text-slate-400 font-bold uppercase">
                        Hubungi Kami Kapanpun
                    </p>
                    <p class="text-primary font-bold">081532744804</p>
                </div>
            </div>
            <div class="flex items-center space-x-3">
                <span class="material-icons-outlined text-primary">mail</span>
                <div class="text-[10px]">
                    <p class="text-slate-400 font-bold uppercase">
                        Kirim Kami Masukan
                    </p>
                    <p class="text-primary font-bold">
                        medicare@medikatheme.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
