---
import { COPYRIGHT } from "../consts";
---

<footer class="bg-primary py-4 text-white">
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row justify-between items-center text-[10px] font-medium opacity-90"
	>
		<p>Copyright © {COPYRIGHT}</p>
		<div class="flex space-x-6 mt-4 md:mt-0">
			<a class="hover:underline" href="#">Profile RS</a>
			<a class="hover:underline" href="#">Daftar Nakes</a>
			<a class="hover:underline" href="#">Latest News</a>
			<a class="hover:underline" href="#">Artikel</a>
		</div>
	</div>
</footer>
