---
import { COPYRIGHT } from "@/consts";
---

<footer class="bg-primary py-4 text-white">
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:row-reverse md:flex-row justify-between items-center text-white text-sm"
	>
		<p>Copyright © {COPYRIGHT}</p>
		<div class="flex space-x-6 mt-4 md:mt-0">
			<a class="hover:underline" href="#">Profile RS</a>
			<a class="hover:underline" href="#">Daftar Nakes</a>
			<a class="hover:underline" href="#">Latest News</a>
			<a class="hover:underline" href="#">Artikel</a>
		</div>
	</div>
</footer>

<button
	class="fixed bottom-8 right-8
         w-12 h-12
         flex items-center justify-center
         bg-white dark:bg-slate-800
         rounded-full shadow-2xl
         border border-slate-200 dark:border-slate-700
         z-[100] text-primary
         transition-transform active:scale-95"
	onclick="toggleTheme()"
>
	<span
		id="icon"
		class="material-icons-outlined text-2xl leading-none text-yellow-400"
		>dark_mode</span
	>
</button>

<script is:inline>
	function toggleTheme() {
		document.documentElement.classList.toggle("dark");
		icon.textContent = document.documentElement.classList.contains("dark")
			? "light_mode"
			: "dark_mode";
	}
</script>
