---

---

<section class="py-24 bg-background-light dark:bg-background-dark">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <h2 class="text-4xl font-extrabold text-primary mb-6">Layanan Medis</h2>
        <p
            class="max-w-2xl mx-auto text-slate-500 dark:text-slate-400 text-sm mb-16"
        >
            Rumah Sakit ini mempunyai banyak departemen yang terbagi menjadi
            berbagai poliklinik. Berikut adalah layanan utama kami
        </p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="group cursor-pointer">
                <div
                    class="relative mb-8 mx-auto w-full aspect-video rounded-3xl overflow-hidden"
                >
                    <img
                        alt="THT Clinic"
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDqmyaAs-eUzLN-Bt6q66z6wyPa9DsUL35dDgjaX5KHd_EwPY6oidO_7UXlbrNwXwijZroYybboghaXiOGRQ_jU3z746xiXzgmLP5wnfKupWZteDBCM6GqFRBcQ_tmCxVXhsuD2ZK5jskAjv_kgEYE8jfkQk4uIwfVUU2dhAKDmvd9rpiV-DzyZrxOvKmxg9oJsrKFgD4TQ8EMIeQuM5qWPanbBOqgCGILvpv__lbtIc1fNbZG51_9bYBGn8tUxAs6RE8kX9X-0mSw"
                    />
                    <div
                        class="absolute -bottom-4 left-1/2 -translate-x-1/2 w-12 h-12 rounded-full border-4 border-white dark:border-slate-900 bg-primary flex items-center justify-center"
                    >
                        <span class="material-icons-outlined text-white text-xl"
                            >hearing</span
                        >
                    </div>
                </div>
                <h3 class="text-lg font-bold text-primary mb-4">
                    Poliklinik Kesehatan THT
                </h3>
                <p class="text-slate-500 text-xs leading-relaxed px-6">
                    Ini adalah contoh laman. Ini berbeda dengan posting blog
                    karena akan tetap berada di satu..
                </p>
            </div>
            <div class="group cursor-pointer">
                <div
                    class="relative mb-8 mx-auto w-full aspect-video rounded-3xl overflow-hidden"
                >
                    <img
                        alt="Heart Clinic"
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuCqQrmsNmdYH9JBdXAzE-Rj7L3qStxrojuCIdUpTxXU2MTc7VgeURalpAEnx-8Y1hKKVRpimGDnFIKB02kZorgSMZld9vCN7GhWHnF_0j-aUW1twKMPGo7cQTmLjsdU5i7seFBfn0xITIXRnq44qrED7oBNISufcRv-W_v_QwSSXUBIjDRxpfnn-W73XmB9PRmsyyUJ9DkITNOym8R6F1pJlRfGA3KEQK4II2O8QSB2eangRabmcaR_X-BOA_kZTABrrqo44CCywPM"
                    />
                    <div
                        class="absolute -bottom-4 left-1/2 -translate-x-1/2 w-12 h-12 rounded-full border-4 border-white dark:border-slate-900 bg-primary flex items-center justify-center"
                    >
                        <span class="material-icons-outlined text-white text-xl"
                            >favorite</span
                        >
                    </div>
                </div>
                <h3 class="text-lg font-bold text-primary mb-4">
                    Poliklinik Jantung & Hati
                </h3>
                <p class="text-slate-500 text-xs leading-relaxed px-6">
                    Ini adalah contoh laman. Ini berbeda dengan posting blog
                    karena akan tetap berada di satu..
                </p>
            </div>
            <div class="group cursor-pointer">
                <div
                    class="relative mb-8 mx-auto w-full aspect-video rounded-3xl overflow-hidden"
                >
                    <img
                        alt="Pediatric Clinic"
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuANQkwADZpGv8dCxF9MtsHpiqNWa57F-fq7KESw0McJb31TnyE5PukVj-t4CdKJVIwYBhvhxY4eYKYjXGK1aH40-pgRRcknsbIlUKcBIJkBD1Fn5R7eUkZ7L1qkPBvEgPkdGt5l3teJeZDZ7jrAnTTMSXjXAMJQX0XIa_MCUyreQrz3NsgXyYExQqq12aymIMoI0L40eyqp-54kB8QcA-9mvi37ctSBlFzvb8RKRFlhCNHZj4MrT4rVMYwkEM5r3kDPzSWzfDaY3Ws"
                    />
                    <div
                        class="absolute -bottom-4 left-1/2 -translate-x-1/2 w-12 h-12 rounded-full border-4 border-white dark:border-slate-900 bg-primary flex items-center justify-center"
                    >
                        <span class="material-icons-outlined text-white text-xl"
                            >child_care</span
                        >
                    </div>
                </div>
                <h3 class="text-lg font-bold text-primary mb-4">
                    Poliklinik Spesialis Kandungan
                </h3>
                <p class="text-slate-500 text-xs leading-relaxed px-6">
                    Ini adalah contoh laman. Ini berbeda dengan posting blog
                    karena akan tetap berada di satu..
                </p>
            </div>
        </div>
    </div>
</section>
