---

---

<section class="py-20 bg-white dark:bg-slate-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between mb-12">
            <h2 class="text-4xl font-extrabold">Ruang & Harga</h2>
            <div class="flex space-x-2">
                <button
                    class="w-10 h-10 rounded-full bg-primary/20 text-primary flex items-center justify-center hover:bg-primary hover:text-white transition-all"
                >
                    <span class="material-icons-outlined">chevron_left</span>
                </button>
                <button
                    class="w-10 h-10 rounded-full bg-primary text-white flex items-center justify-center hover:bg-primary/80 transition-all"
                >
                    <span class="material-icons-outlined">chevron_right</span>
                </button>
            </div>
        </div>
        <div class="grid lg:grid-cols-3 gap-8">
            <div
                class="bg-background-light dark:bg-slate-800 p-8 rounded-3xl relative overflow-hidden group"
            >
                <div class="absolute top-0 right-0 p-4">
                    <span
                        class="bg-primary text-white text-[10px] font-bold px-4 py-1.5 rounded-full"
                        >KELAS I</span
                    >
                </div>
                <div class="space-y-6">
                    <div
                        class="flex justify-between items-end border-b border-slate-200 dark:border-slate-700 pb-4"
                    >
                        <div>
                            <p class="font-bold text-primary">Ruang Mawar</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            150.000
                        </p>
                    </div>
                    <div
                        class="flex justify-between items-end border-b border-slate-200 dark:border-slate-700 pb-4"
                    >
                        <div>
                            <p class="font-bold text-primary">Ruang Melati</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            100.000
                        </p>
                    </div>
                    <div class="flex justify-between items-end">
                        <div>
                            <p class="font-bold text-primary">Ruang Alamanda</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            200.000
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="bg-background-light dark:bg-slate-800 p-8 rounded-3xl relative overflow-hidden group border-t-4 border-primary shadow-xl"
            >
                <div class="absolute top-0 right-0 p-4">
                    <span
                        class="bg-primary text-white text-[10px] font-bold px-4 py-1.5 rounded-full"
                        >KELAS II</span
                    >
                </div>
                <div class="space-y-6">
                    <div
                        class="flex justify-between items-end border-b border-slate-200 dark:border-slate-700 pb-4"
                    >
                        <div>
                            <p class="font-bold text-primary">Ruang Anggrek</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            250.000
                        </p>
                    </div>
                    <div
                        class="flex justify-between items-end border-b border-slate-200 dark:border-slate-700 pb-4"
                    >
                        <div>
                            <p class="font-bold text-primary">Ruang Tulip</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            350.000
                        </p>
                    </div>
                    <div class="flex justify-between items-end">
                        <div>
                            <p class="font-bold text-primary">Ruang Lavender</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            450.000
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="bg-background-light dark:bg-slate-800 p-8 rounded-3xl relative overflow-hidden group"
            >
                <div class="absolute top-0 right-0 p-4">
                    <span
                        class="bg-primary text-white text-[10px] font-bold px-4 py-1.5 rounded-full"
                        >KELAS III</span
                    >
                </div>
                <div class="space-y-6">
                    <div
                        class="flex justify-between items-end border-b border-slate-200 dark:border-slate-700 pb-4"
                    >
                        <div>
                            <p class="font-bold text-primary">Ruang Lily</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            900.000
                        </p>
                    </div>
                    <div
                        class="flex justify-between items-end border-b border-slate-200 dark:border-slate-700 pb-4"
                    >
                        <div>
                            <p class="font-bold text-primary">Ruang Teratai</p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            700.000
                        </p>
                    </div>
                    <div class="flex justify-between items-end">
                        <div>
                            <p class="font-bold text-primary">
                                Ruang Bougenvil
                            </p>
                            <p class="text-[10px] text-slate-400">
                                Kapasitas : 10 Set
                            </p>
                        </div>
                        <p
                            class="text-2xl font-black text-slate-700 dark:text-white"
                        >
                            800.000
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
