---
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
    title?: string;
    description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="id" class="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body
        class="bg-background-light dark:bg-background-dark text-slate-800 dark:text-slate-100 transition-colors duration-200"
    >
        <slot />
    </body>
</html>
